@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: conic-gradient(
    from 90deg at 100% 0%,
    #213555 0%,
    rgba(255, 255, 255, 1) 50%
  );
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  scroll-behavior: smooth;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.15rem;
}

::-webkit-scrollbar-track {
  --bg-opacity: 0.5;
  background-color: #00000015;
}

::-webkit-scrollbar-thumb {
  --bg-opacity: 0.5;
  background-color: #13131374;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
}

.wrapper {
  @apply max-w-screen-2xl mx-auto px-2 md:px-5;
}

/* bg animation start */
.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(23, 53, 85, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* Bg animation end */

/* buttons */
.SVButton-2 {
  display: inline-block;
  border-radius: 4px;

  background: conic-gradient(
    from 90deg at 100% 0%,
    #213555 0%,
    rgba(255, 255, 255, 1) 50%
  );
  border: none;
  text-align: center;

  transition: all 0.5s;
  cursor: pointer;
}

.SVButton-2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SVButton-2 span:after {
  content: "➤";
  font-size: 1rem;
  font-weight: 500;

  position: absolute;
  opacity: 0;
  top: 0rem;
  right: -15px;
  transition: 0.5s;
}

.SVButton-2:hover span {
  padding-right: 15px;
}

.SVButton-2:hover span:after {
  opacity: 1;
  right: -8px;
}
